<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Author %>
    <%= form.number_field :Author %>
  </div>

  <div class="field">
    <%= form.label :CustomerID %>
    <%= form.number_field :CustomerID %>
  </div>

  <div class="field">
    <%= form.label :BuildingID %>
    <%= form.number_field :BuildingID %>
  </div>

  <div class="field">
    <%= form.label :BatteryID %>
    <%= form.number_field :BatteryID %>
  </div>

  <div class="field">
    <%= form.label :ColumnID %>
    <%= form.number_field :ColumnID %>
  </div>

  <div class="field">
    <%= form.label :ElevatorID %>
    <%= form.number_field :ElevatorID %>
  </div>

  <div class="field">
    <%= form.label :EmployeeID %>
    <%= form.number_field :EmployeeID %>
  </div>

  <div class="field">
    <%= form.label :Start_Date %>
    <%= form.datetime_select :Start_Date %>
  </div>

  <div class="field">
    <%= form.label :End_Date %>
    <%= form.datetime_select :End_Date %>
  </div>

  <div class="field">
    <%= form.label :Result %>
    <%= form.text_field :Result %>
  </div>

  <div class="field">
    <%= form.label :Report %>
    <%= form.text_field :Report %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.text_field :Status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
